:root {
    font-family: 'Open Sans', sans-serif;
}

*{
   margin: 10px;
   padding: 2px;
   box-sizing: border-box;
   border-radius: 10px 10px 10px 10px;
}
.wrapper {
    max-width: 900px;
    margin: 50px auto;
}
.logo {
    text-align: center;
    font-size: 4.2rem;
    color: rgb(27, 36, 156);
}

.form {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 15px;
    font-size: 1.75rem;
    width: 100%;
    border:1.5px solid #fdc6c6;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.75rem;
    width: 20%;
    border:none;
    background: rgb(44, 121, 44);
    color:#ffffff;
}

.books {
 margin-top: 25px;
 border: 1px solid #fdc6c6;
 padding:10px;
}

.book {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px;
    font-size: 1.5rem;
    border-bottom: 1px ridge #ffc0c0;
}

.book:hover {
    background: rgb(220, 227, 252);
}

.error,
.success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px;
}

.error {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    background-color: rgb(253, 211, 211);
}

.success {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    background-color: rgb(201, 255, 201);
}

.delete{
    text-decoration: none;
    font-size: 1rem;
    padding:7px 10px;
    background: rgb(199, 88, 69);
    color: rgb(255, 255, 255);
}

.read,
.unread {
    text-decoration: none;
    color:black;
}

.read {
    text-decoration: line-through;
}

